.select-plan .select-plan-card {
  text-align: center;
  padding: 0px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.select-plan .select-plan-button {
  width: 80%;
}

.select-plan .selected-button {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.6);
  border-color: #d9d9d9;
  box-sizing: border-box;
  cursor: not-allowed;
}

.select-plan .select-plan-plan {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}

.select-plan .select-plan-amount {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  font-size: 48px;
}

.select-plan .select-plan-time {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
}

.select-plan .green {
  color: #34a853;
}

.select-plan .blue {
  color: #40a9ff;
}

.select-plan .purple {
  color: #8761c4;
}

.select-plan .green-card {
  border: 1px solid #34a853;
}

.select-plan .blue-card {
  border: 1px solid #40a9ff;
}

.select-plan .purple-card {
  border: 1px solid #8761c4;
}

.select-plan .blue-button {
  background-color: #40a9ff;
  color: #ffffff;
  border-color: #40a9ff;
}

.select-plan .purple-button {
  background-color: #8761c4;
  color: #ffffff;
  border-color: #8761c4;
}

.select-plan .green-button {
  background-color: #34a853;
  color: #ffffff;
  border-color: #34a853;
}
