.deployment-card {
    border: 0px;
    border-left: 0px;
    border-left: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .deployment-collapse .ant-collapse-header{
    margin-top: 25px;
  }

  .bottom-spacing {
    margin-bottom: 20px;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
    outline: none;
  }