.template {
  height: 75px;
  width: 192px;
  border: 1px solid #BDBDBD;
  border-radius: 30px;
  margin-bottom: 32px;
  padding-top: 18px;
  padding-left: 12px;
  cursor: pointer;
}

.template .top {
  margin-bottom: 8px;
  line-height: 35px;
}

.template .heading {
  font-size: 15px;
  margin-left: 16px;
}

.template .desc {
  font-weight: 400;
}

.template .tag {
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  font-size: 10px;
  padding: 2px 10px;
}

.template .recommend {
  font-weight: 400;
  color: #FF6700;
  font-size: 14px;
  margin-right: 4px;
}

.template .recommend-footer {
  float: right;
}


.template .selected {
  color: #FF6700;
  float: right;
  margin-right: 10px;
}