.event-tab-content {
  padding: 32px 32px 0;
}

.divider {
  background: #e4e4e4;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .event-tab-content .reconnect {
    margin-bottom: 24px;
  }
}

.event-logs-table {
  margin-top: 16px;
}

.event-logs-table .ant-table-thead > tr > th {
  background-color: #f2f2f2;
}
