.login {
  color: #000;
}

.login .main-wrapper {
  position: absolute;
  top: 5vw;
  bottom: 5vw;
  left: 6vw;
  right: 6vw;
  border-radius: 70px;
  background: #fff;
  box-shadow: 0 0 15px #bdbdbd;
}

.login .left-wrapper {
  border-radius: 0 70px 70px 0;
  text-align: center;
  margin: auto;
}

.login .left-content {
  position: relative;
}

.login .logo {
  margin-bottom: 30px;
}

.login .welcome {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 2px;
}

.login .text {
  font-size: 14px;
  font-weight: 600;
  color: #bdbdbd;
  text-align: center;
  margin-bottom: 16px;
  padding: 0 140px;
}

.login .right-wrapper {
  border-radius: 0 70px 70px 0;
  background: #002c39;
  text-align: center;
  padding: 64px 40px;
}

.login-form .sign-in {
  color: #ff6700;
  font-weight: 600;
  font-size: 32px;
}

.login-form .btn {
  margin-bottom: 50px;
}

.login .row {
  display: flex;
  height: 100%;
}

.login .right-content {
  position: relative;
  margin: auto;
  transform: translateY(50%);
}

.login .signin-with {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login .mobile-view {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .login .main-wrapper,
  .login-form .sign-in {
    display: none;
  }
  .login .mobile-view {
    text-align: center;
    position: relative;
    transform: translateY(50%);
  }
  .login .logo {
    margin: 32px 0;
  }
  .login .welcome {
    font-size: 22px;
  }
  .login .text {
    padding: 0 32px;
  }
}
