.upgrade-card{
    background-color: #fafafa;
}

.check-icon{
    color: #15CD72;
    margin-right: 3%;
    margin-top: 3px;
}

.upgrade-btn{
    width: 100%;
    margin-top: 3%;
}

.upgrade-content{
    margin-bottom: 3%;
}

.list-content{
    display: flex;
    margin-top: 1%;
}

@media screen and (max-width: 500px) {
    .upgrade-content{
        margin-bottom: 3%;
        text-align: center;
    }
    .upgrade-title{
        text-align: center;
    }
}