.upgrade .upgrade-card {
    text-align: center;
    padding: 0px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.upgrade .upgrade-button{
    width: 80%;
    margin-top: 15%;
}

.upgrade .upgrade-plan{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
}

.upgrade .upgrade-amount{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    font-size: 48px;
}

.upgrade .upgrade-time{
    margin-bottom: 10%;
    font-weight: 500;
    font-size: 14px;
}

.upgrade .green{
    color: #34A853;
}

.upgrade .blue{
    color: #40A9FF;
}

.upgrade .purple{
    color: #8761C4;
}

.upgrade .blue-button{
    background-color: #40A9FF;
    color: #ffffff;
    border-color: #40A9FF;
}

.upgrade .purple-button{
    background-color: #ffffff;
    color: #8761C4;
    border-color: #8761C4;
}