.rule-editor {
  border: 1px solid #e4e4e4;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04), 0px 6px 12px rgba(0, 0, 0, 0.0125), 0px 12px 24px rgba(0, 0, 0, 0.00625),
    0px 24px 48px rgba(0, 0, 0, 0.003125), 0px 48px 96px rgba(0, 0, 0, 0.003125);
}

.rule-editor__rule-list {
  border-right: 1px solid #e4e4e4;
  overflow-y: auto;
}

.rule-editor__rule-item {
  justify-content: space-between;
  height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid #e4e4e4;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.rule-editor__rule-item--active {
  border-left: 4px solid #ff6700;
  background: rgba(255, 103, 0, 0.2);
}

.rule-editor__footer {
  border-top: 1px solid #e4e4e4;
  padding: 8px;
  text-align: right;
}
