.terminal-wrapper {
  margin-top: 16px;
  background-color: #292929;
  flex-grow: 1;
  color: #ffff;
  width: 100%;
  padding: 16px;
  overflow-y: auto;
}

.terminal-wrapper p {
  margin-bottom: 0.25em;
}

.info {
  color: cyan;
}

.error {
  color: red;
}

.warning {
  color: yellow;
}