.github-card{
    text-align:center;
    padding: 24px;
}

.github-btn{
    border:none;
    padding:10px 5px;
    margin-top: 3%;
    font-size: 18px;
    width: 100%;
    color:rgba(0, 0, 0, 0.85);
    background-color: #ffffff;
    border: 1px solid black;
    cursor: pointer;
}

