.select-project .modal-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
}

.select-project .checked {
  color: #1D66FF;
}

.select-project  .modal-header .header .line {
  margin-bottom: 0;
}