.topbar {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    height: 64px;
    line-height: 64px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 101;
    display: flex;
    align-items: center;
    padding: 0 32px;
}

@media screen and (max-width: 600px){
    .topbar {
        padding: 0 24px;
    }
}

.topbar .action-button {
    height: 28px;
    margin: 11px 8px;
}

.topbar .upgrade-button {
    background: #5DA8DC;
    border-color: #5DA8DC;
}

.topbar .right-list {
    float: right;
    position: absolute;
    right: 1vw;
}

.topbar>span {
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 64px;
}

.topbar .btn {
    width: 139px;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid #B9B9B9;
    border-radius: 20px;
}

.topbar .btn-position {
    line-height: 50px;
    margin-left: 70px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .topbar .btn-position {
        margin-left: 16px;
    }
    .topbar .hamburger {
        margin-right: 16px;
    }
    .topbar .right-list{
        display: none;
    }
}

.popContent {
    padding: 10px 30px;
}

/* .ant-popover-inner-content{
    padding: 0;
} */

.topbar .ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover, 
.ant-menu-horizontal > .ant-menu-item-active, 
.ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, 
.ant-menu-horizontal > .ant-menu-submenu-open, 
.ant-menu-horizontal > .ant-menu-item-selected, 
.ant-menu-horizontal > .ant-menu-submenu-selected {
    border: none;
}

.ant-menu-horizontal{
    border: none;
    background-color: initial;
}

@media screen and (min-width: 992px) {
    .topbar .upLogo,
    .hamburger {
        display: none;
    }
}
@media screen and (max-width: 992px){
    .topbar .logo {
        display: none;
    }
    .topbar .upLogo {
        margin-left: 16px;
        width: 40px;
    }
}
