.db-dropdown .drop-icon {
  margin-left: 16px;
  margin-right: 16px !important;
}

.db-dropdown .ant-select-selection--single{
  font-size: 12px;
  width: 170px;
}

.select-database .modal-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 8px;
}

.select-database .checked {
  color: #1D66FF;
}

.select-database .modal-header .header .line {
  margin-bottom: 0;
}

.modal-title {
  color: white;
}

.selected-db {
  background-color: rgba(255, 103, 0, 0.1);
}