.sidenav {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 300px;
  background: #ffffff;
  box-shadow: 10px 0 5px -5px #eee;
}

.sidenav-item {
  height: 64px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.sidenav-item--active {
  color: #ff6700 !important;
  background: rgba(255, 103, 0, 0.2) !important;
}

.sidenav-item:hover {
  font-weight: 600;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  background: #eee;
}

.sidenav-item__icon {
  font-size: 20px;
  margin-left: 32px;
}

.sidenav-item__name {
  margin-left: 32px;
}
