.sidenav,
.no-sidenav {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  z-index: 99;
  width: 240px !important;
  background: #ffffff;
  box-shadow: 10px 0 5px -5px #eee;
}

.sidenav-item {
  height: 48px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

.sidenav-item--active {
  color: #ff6700 !important;
}

.sidenav-item:hover {
  font-weight: 600;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  background: #eee;
}

.sidenav-item__icon {
  font-size: 20px;
  margin-left: 18px;
}

.sidenav-item__name {
  margin-left: 18px;
}

.sidenav-collapsed-item__name {
  margin-left: 56px;
}

.sidenav-version {
  z-index: 100;
  padding: 16px;
  border-top: 1px solid #eee;
  width: 100%;
  margin-top: auto;
  display: flex;
}

.sidenav-version .sidenav-version-content {
  display: inline-block;
  margin-left: 16px;
}

.sidenav-container .upgrade-btn {
  width: 100%;
}

.content {
  overflow-y: scroll;
}

.sidenav-container .ant-collapse > .ant-collapse-item {
  border: 1;
}

.sidenav-container .ant-collapse-borderless > .ant-collapse-item {
  border: 0;
}

.sidenav-container
  .ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header {
  padding: 0;
}

.sidenav-container .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

.sidenav-container
  .ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0;
}

.sidenav-container .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
.sidenav-container .ant-divider {
  background: #d9d9d9;
}
.sidenav-container .ant-divider-horizontal {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .sidenav {
    position: fixed;
    left: 0px;
    z-index: 101;
    box-shadow: none;
  }
  .no-sidenav {
    left: -310px;
    position: absolute;
  }
  .overlay {
    background-color: #000;
    opacity: 0.7;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
  }
  .no-overlay {
    display: none;
  }
}
