.sidenav {
  position: fixed;
  top: 51px;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 250px;
  background: #FFFFFF;
  box-shadow: 10px 0 5px -5px #EEE;
}

.item {
  height: 48px;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  width: 85%;
}

.item>i {
  font-size: 16px;
  padding: 12px 16px 12px 24px;
}

.item:hover {
  font-weight: 600;
  width: 100%;
  color:#000;
  background: #eee;
}

.active {
  width:100%;
  align-items: center;
  font-weight: 600;
  color:#FF6700 !important;
  background: rgba(255, 103, 0, 0.2) !important;
  
}

.active>i {
  font-size: 16px;
  padding: 12px 16px 12px 24px;
}

.sidenav .line {
  margin-bottom: 0;
}

.sidenav .flex-container {
  padding: 24px;
}

.sidenav .edit {
  height: 22px;
  width: 48px;
  font-size: 12px;
  color:#FF6700;
  background: rgba(255, 103, 0, 0.2);
  font-weight: 600;
  cursor: pointer;
}

.sidenav .edit:hover {
  background: rgba(255, 103, 0, 0.2);
}