.db-tabs .ant-tabs-nav-animated {
  margin-left: 32px;
}

.db-tabs .ant-tabs-tab {
  color: #979797;
  font-size: 16px;
  font-weight: 600;
}

.db-tabs .ant-tabs {
  height: 48px;
}

.db-tabs .ant-tabs-tab-active {
  color: #ff8629
}