.home {
  height: 100vh;
  display: flex;
  align-items: center;
}

.home .content {
  width: 100%;
  text-align: center;
}

.home .content .title {
  font-size: 1.4rem;
  font-weight: 600;
}

.home .content img {
  margin: 24px;
  width: 20%;
  height: 20%;
  max-height: 96px;
  max-width: 96px;
}

.home .loading-logo {
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(255, 103, 0, 0.4);
  transform: scale(1);
  animation: pulse 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 103, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 103, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 103, 0, 0);
  }
}
