.sign-up {
  color: #000;
}

.sign-up .main-wrapper {
  position: absolute;
  top: 3vw;
  bottom: 3vw;
  left: 6vw;
  right: 6vw;
  border-radius: 70px;
  background: #FFF;
  box-shadow: 0 0 15px #BDBDBD;
}

.sign-up .left-wrapper {
  border-radius: 0 70px 70px 0;
  text-align: center;
}

.sign-up .left-content {
  position: relative;
  top: 7vw;
}

.sign-up .logo {
  margin-bottom: 30px;
}

.sign-up .welcome {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 2px;
}

.sign-up .text {
  font-size: 14px;
  font-weight: 600;
  color: #BDBDBD;
  text-align: center;
  margin-bottom: 16px;
  padding: 0 140px;
}

.sign-up .right-wrapper {
  border-radius: 0 70px 70px 0;
  background: #002C39;
  text-align: center;
  padding: 16px 40px;
}

.sign-up-form .sign-in {
  color: #ff6700;
  font-weight: 600;
  font-size: 32px;
}

.sign-up-form input {
  width: 75%;
  background: #053D4E;
  border: 1px solid #053D4E;
  color: #BDBDBD;
}
.sign-up-form .input {
  width: 75%;
}

.sign-up .ant-input-suffix>i {
  color: #BDBDBD;
}

.sign-up-form .input input {
  width: 100%;
}

.sign-up-form .btn {
  margin-bottom: 40px;
  margin-top: 16px;
}

.sign-up .row {
  display: flex;
  height: 100%;
}

.sign-up .signin-with {
  cursor: pointer;
}
.sign-up .divider{
  display: flex;
}
hr{
  width: 40%;
}
.sign-up .or{
  color: #FFF;
}
.sign-up .sign-up{
  color: white;
  font-size: 14px;
  position: absolute;
  right: 10%;
  top: 5%;
}
.sign-up .sign-up-form{
  margin-top: 56px;
}
.sign-up .ant-form-item{
  margin-bottom: 16px;
}

@media screen and (min-width:768px){
  .sign-up-mobile-view{
    display: none;
  }
}

@media screen and (max-width:768px){
  .sign-up .main-wrapper{
    display: none;
  }
  .sign-up .sign-up-mobile-view{
    padding: 2rem 3rem;
  }
  .sign-up .sign-up-form{
    margin-top: 0 !important;
  }
  .sign-up .sign-up-form .sign-in {
    color: #002C39;
    font-size: 24px;
  }
  .sign-up .sign-up-form .input {
    width: 100%;
  }
  .sign-up-form input{
    background-color: #FFF !important;
    border: 1px solid #bdbdbd;
    width: 100%;
  }
  .sign-up .or{
    color: black;
  }
  .sign-up-with{
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
