.project-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  left: 240px;
  right: 0;
  bottom: 0;
}

.project-page-content {
  flex-grow: 1;
  padding: 32px;
  overflow-y: auto;
}

.project-page-inner-topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  line-height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.project-page-inner-topbar .go-back-button {
  position: absolute;
  left: 8px;
}

@media screen and (max-width: 768px) {
  .project-page {
    left: 0;
  }
}
