.radio-cards .ant-radio-button-wrapper {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  height: 48px !important;
  padding: 0 16px;
}
.radio-cards--size-mini .ant-radio-button-wrapper {
  height: 40px !important;
  margin-right: 8px;
  padding: 0 8px;
}

.radio-cards--size-small .ant-radio-button-wrapper {
  height: 40px !important;
}

.radio-cards--size-medium .ant-radio-button-wrapper {
  height: 56px !important;
  margin-right: 24px;
  padding: 0 24px;
}

.radio-cards--size-large .ant-radio-button-wrapper {
  height: 64px !important;
  margin-right: 24px;
  padding: 0 24px;
}
