.setting-content .divider {
  background: #e4e4e4;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.projectSetting-page p {
  margin-bottom: 16px;
}

.projectSetting-page .ant-form-item {
  margin-bottom: 16px;
}

.projectSetting-page h2 {
  margin-bottom: 8px;
}

.setting-content {
  padding: 32px;
}