.explorer .apply-container {
    display: flex;
    justify-content: space-between;
}

.explorer .row {
    margin-bottom: 16px;
}

.explorer .help {
    color: #BDBDBD;
}

.graphql {
    height: 500px;
    margin-bottom: 64px;
}

.variable-editor {
    height: 250px;
}

@media screen and (max-width: 768px) {
    .graphql .graphiql-container .editorBar {
        flex-direction: column;
    }
    .graphql .topBar {
        overflow: scroll;
        height: 54px !important;
    }
    .explorer .CodeMirror-scroll {
        overflow: hidden !important;
    }
    .explorer .apply-container {
        display: none;
        margin-bottom: 80px;
    }
}