.configuration {
  display: flex;
}

.configuration .conn-string {
  display: inline-block;
  color: #000;
  height: 32px;
  width: 120px;
  background: #EEE;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  margin-top: 2px;
}

.configuration .conn-form{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.configuration .help {
  color: #BDBDBD;
  font-size: 20px;
}

.configuration .switch {
  position: relative;
  left: 14.5vw;
}