.billing-tab-content {
    padding: 32px 32px 0;
}

.invoices .ant-table{
    background: #FFFFFF;
}
.invoices .ant-table-thead > tr > th, .invoices .ant-table-tbody > tr > td{
    border-bottom: none;
    background-color: #FFFFFF;
}

.upgrade-steps{
    margin-top: 64px;
    margin-bottom: 48px;
}