.welcome-content{
	position: fixed;
	top: 64px;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	overflow-y: auto;
}

.welcome-content .welcome-title{
	font-size: 21px;
	line-height: 31px;
	margin-top: 48px;
	margin-bottom: 8px;
}

.welcome-content .welcome-subtitle{
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 24px;
}

.welcome-content .welcome-ins{
	font-size: 14px;
	line-height: 21px;
}


.act-img{
	margin-bottom: 16px;
}

.res-img{
	margin-bottom: 8px;
}

.act-text, .res-text{
	color: #1D66FF;
	text-align: center;
}

.act-text{
	font-weight: 600;
}

.res-text {
	font-weight: 400;
}