.service-template {
  height: 134px;
  width: 235px;
  border: 1.5px solid #bdbdbd;
  border-radius: 20px;
  margin-bottom: 32px;
  padding-top: 18px;
  padding-left: 10px;
  cursor: pointer;
  margin-left: 20px;
}

.service-template:hover {
  border: 1.5px solid #ff6700;
}

.active {
  border: 1.5px solid #ff6700;
}

.service-template .top {
  margin-bottom: 8px;
  line-height: 16px;
}

.service-template .heading {
  font-size: 14px;
  margin-left: 10px;
  color: black;
}

.desc {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  margin-left: 20px;
  margin-top: 10px;
}

.service-template .tag {
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  background: #fff;
  font-size: 10px;
  padding: 2px 10px;
}

.service-template .recommend {
  font-weight: 400;
  color: #ff6700;
  font-size: 14px;
  margin-right: 4px;
}

.service-template .recommend-footer {
  float: right;
}

.service-template .selected {
  color: #ff6700;
  float: right;
  margin-right: 5px;
  position: relative;
  top: -5px;
}

.icon {
  margin-right: 18px;
}

.service-template
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: none;
}

.service-template .ant-radio-button-wrapper {
  line-height: 0px;
  border: none;
  transition: none;
}

.service-template .ant-radio-button-wrapper:not(:first-child)::before {
  background: none;
}

.service-template
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.service-template
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.service-template .ant-radio-button-wrapper:first-child {
  border-left: none;
}

.service-template
  .radio-card:not(:first-child):not(.ant-radio-button-wrapper-checked) {
  border-left: none;
}

.service-template
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  outline: none;
}
