.db-display {
  display: inline-block;
  margin-right: 0%;
  margin-bottom: 0%;
}

.db-left {
  margin-left: 2.3%;
}

.db-btn {
  width: 100%;
  margin-top: 4%;
}

.add-database-code-mirror > .CodeMirror {
  height: 200px;
}

@media screen and (max-width: 768px) {
  .db-btn {
    margin-bottom: 60px;
  }
}
