.des-content {
    background-color: #FAFAFA;
    padding: 5%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.des-content .content-title{
    text-align: center;
    margin-bottom: 0%;
    font-weight: bold;
    font-size: 28px;
    margin-top: 5%;
}

.des-content .content-tagline{
    text-align: center;
    margin-bottom: 8%;
}

.des-content .tools-icon {
    color: #15CD72;
    margin-right: 3%;
    margin-top: 1%;
}

.des-content .list-content{
    display: flex;
    margin-bottom: 2%;
}