.discord-card{
    text-align:center;
    padding: 24px;
}

.discord-btn{
    color:#ffffff;
    background-color:#7289DA;
    border:none;
    padding:5px 5px;
    margin-top: 3%;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #7289DA;
}
