.database .db-desc {
  color: #000;
  font-size: 14px;
  margin-bottom: 32px;
}

.rules-main-wrapper {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04),
    0px 6px 12px rgba(0, 0, 0, 0.0125), 0px 12px 24px rgba(0, 0, 0, 0.00625),
    0px 24px 48px rgba(0, 0, 0, 0.003125), 0px 48px 96px rgba(0, 0, 0, 0.003125);
  margin-top: 32px !important;
}

.rules-main-wrapper .rulesTable {
  border: 1px solid #e4e4e4;
  height: 300px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}

.rulesTable .rule {
  padding: 20px;
  border: 1px solid #e0e0e0;
  color: #000;
  font-weight: 600;
}

.rules-main-wrapper .rulesTable .selected {
  border-left: 5px solid #ff6700;
}

.rules-main-wrapper {
  color: black;
}

.addaRule {
  padding: 20px;
  color: black;
  border: 1px solid #e4e4e4;
}

.rules-main-wrapper .rulesTable .addaRule .addIcon {
  margin-right: 20px;
}

.code .code-hint {
  padding: 20px;
  border: 1px solid #e4e4e4;
}

.rules-main-wrapper .code .code-mirror {
  height: 300px;
}

.box-heading {
  padding: 20px;
  color: black;
  border: 1px solid #e4e4e4;
  font-size: 16px;
  font-weight: 600;
}



.rules-main-wrapper .add-a-rule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.add-a-rule {
  cursor: pointer;
}

.collections {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

.tablehead {
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 0;
  border: 1px solid #e4e4e4;
}

.tabledata {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: black;
  padding: 12px 20px;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  list-style: none;
  cursor: pointer;
}
.activedata {
  background: #ecf6fd;
  border-left: 5px solid #ff6700;
  padding: 12px 20px;
}

.activedatabackground {
  background: #ecf6fd;
}

.codebox {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding: 16px 0;
  border-right: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  color: rgba(3, 27, 78, 0.7);
}

.ant-tabs-tab {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.ant-tabs-tab-active {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.db-page-content {
  position: absolute;
  top: 51px;
  left: 250px;
  right: 0;
}

.flex-blox {
  display: flex;
}

.code-mirror {
  border: 1px solid #e4e4e4;
}
.right-panel {
  text-align: center;
  border: 1px solid #e4e4e4;
  height: 300px;
}

.column-actions a {
  color: #5da8dc;
  margin-right: 16px;
}
.column-rules .custom-rules {
  color: #41a44b;
}

.column-rules .default-rules {
  color: #fe534f;
}

.rules-header {
  background: #e0e9f8;
  padding: 16px;
}

.secondary-action.ant-btn-background-ghost.ant-btn-primary:hover {
  color: #88ceff;
  border-color: #88ceff;
}

.secondary-action.ant-btn-background-ghost.ant-btn-primary {
  color: #5DA8DC;
  border-color: #5DA8DC;
}

.db-tab-content {
  padding: 32px 48px;
}
.connection-requirements{
 
width: 268px;
height: 50px;
text-align: center;
}
.connection-status{
  width:537.02px;
  height:50px;
}

.status-view{
  position: absolute;
width: 1012px;
height: 370px;
left: 48px;
top: 260px;
text-align: center;

background: #ffffff;
border: 1px solid #E8E8E8;
box-sizing: border-box;

}
.cstatus-statement-1{
  position: absolute;
width: 333px;
height: 20px;
left: 380px;
top: 225px;

/* @font-size-sm: 12px */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* or 183% */

display: flex;
align-items: center;
text-align: center;

/* @text-color */

color: rgba(0, 0, 0, 0.65);
}
.cstatus-statement-2{
  position: absolute;
width: 535px;
height: 36px;
left: 320px;
top: 245px;

/* H6 - Header 6 */
text-align:center;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 156% */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.65);


}

.dstatus-statement-1{
  position: absolute;
width: 333px;
height: 20px;
left: 345px;
top: 250px;

/* @font-size-sm: 12px */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;
/* or 183% */

display: flex;
align-items: center;
text-align: center;

/* @text-color */

color: rgba(0, 0, 0, 0.65);
}
.dstatus-statement-2{
  position: absolute;
width: 535px;
height: 36px;
left: 320px;
top: 270px;

/* H6 - Header 6 */
text-align:center;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 156% */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.65);


}


.reconnect{
  position: absolute;
left: 378px;

top: 334px;
width:130px;

/* Orange */

border: 1px solid #FF6700;
box-sizing: border-box;
border-radius: 4px;
}
.edconn{
  position: absolute;
left: 530px;
top: 334px;
width:130px;


/* Orange */
color:white;
background: #FF6700;
border-radius: 4px;
}
.edconn:hover{
  color:white;
background: rgb(255, 136, 0);
}
.edconn:focus{
  color:white;
background: #FF6700;
}

.addtable{
  position: absolute;
left: 450px;
top: 309px;
width:130px;


/* Orange */
color:white;
background: #FF6700;
border-radius: 4px;
}
.addtable:hover{
  color:white;
background: rgb(255, 136, 0);
}
.addtable:focus{
  color:white;
background: #FF6700;
}
.default{
  color:#87ceeb;
}

.disconnectimg{
 margin-top: 50px;
}
.edit{
  position:absolute;
  left:200px;
}
.connectimg{
  
  position: absolute;
  width: 120px;
  height: 120px;
  left: 450px;
  top: 65px;
  

}
.pencil-edit-connection-string{position:absolute;
 height:1px;border-color:white;}
.pencil-edit-connection-string:hover{
  border-color:white;
  background-color: white;
  }
  .pencil-edit-connection-string:focus{
    border-color:white;
    background-color: white;
    }