.database .db-desc {
  color: #000;
  font-size: 14px;
  margin-bottom: 32px;
}

.rules-main-wrapper {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04),
    0px 6px 12px rgba(0, 0, 0, 0.0125), 0px 12px 24px rgba(0, 0, 0, 0.00625),
    0px 24px 48px rgba(0, 0, 0, 0.003125), 0px 48px 96px rgba(0, 0, 0, 0.003125);
  margin-top: 32px !important;
}

.rules-main-wrapper .rulesTable {
  border: 1px solid #e4e4e4;
  height: 300px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
}

.rulesTable .rule {
  padding: 20px;
  border: 1px solid #e0e0e0;
  color: #000;
  font-weight: 600;
}

.rules-main-wrapper .rulesTable .selected {
  border-left: 5px solid #ff6700;
}

.rules-main-wrapper {
  color: black;
}

.addaRule {
  padding: 20px;
  color: black;
  border: 1px solid #e4e4e4;
}

.rules-main-wrapper .rulesTable .addaRule .addIcon {
  margin-right: 20px;
}

.code .code-hint {
  padding: 20px;
  border: 1px solid #e4e4e4;
}

.rules-main-wrapper .code .code-mirror {
  height: 300px;
}

.box-heading {
  padding: 20px;
  color: black;
  border: 1px solid #e4e4e4;
  font-size: 16px;
  font-weight: 600;
}

.rules-main-wrapper .add-a-rule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.add-a-rule {
  cursor: pointer;
}

.collections {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;

  color: #000000;
}

.tablehead {
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  padding: 12px 0;
  border: 1px solid #e4e4e4;
}

.tabledata {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: black;
  padding: 12px 20px;
  border-bottom: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  list-style: none;
  cursor: pointer;
}
.activedata {
  background: #ecf6fd;
  border-left: 5px solid #ff6700;
  padding: 12px 20px;
}

.activedatabackground {
  background: #ecf6fd;
}

.codebox {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding: 16px 0;
  border-right: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  color: rgba(3, 27, 78, 0.7);
}

.ant-tabs-tab {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.ant-tabs-tab-active {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.db-page-content {
  position: absolute;
  top: 51px;
  left: 250px;
  right: 0;
}

.flex-blox {
  display: flex;
}

.code-mirror {
  border: 1px solid #e4e4e4;
}
.right-panel {
  text-align: center;
  border: 1px solid #e4e4e4;
  height: 300px;
}

.column-actions a {
  color: #5da8dc;
  margin-right: 16px;
}
.column-rules .custom-rules {
  color: #41a44b;
}

.column-rules .default-rules {
  color: #fe534f;
}

.rules-header {
  background: #e0e9f8;
  padding: 16px;
}

.secondary-action.ant-btn-background-ghost.ant-btn-primary:hover {
  color: #88ceff;
  border-color: #88ceff;
}

.secondary-action.ant-btn-background-ghost.ant-btn-primary {
  color: #5DA8DC;
  border-color: #5DA8DC;
}

.db-tab-content {
  padding: 32px 48px;
}

.config-list{
 list-style-type:none ;
}
.config-list-title{
  margin-top:10px;
  font-size:18px;
  color: rgba(0,0,0,0.87);
}
.config-list-button-grey{
  color: #cfcece;
  background-color: #ebe8e8;
  border-color: #dcdcdc;
  border-style:solid;
  border-width: 1px;
  width:90px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.config-list-button-grey:hover{background-color: #f7f7f7;
  color:#d3d3d3;
  border-color:#dcdcdc}
.config-list-button-grey:focus{background-color: #ebe8e8;
  color:#d3d3d3;
  border-color:#dcdcdc}

.config-list-button-red{
  color:white;
  background-color: #f14545;
  border-color: white;
  border-style:solid;
  border-width: 1px;
  width:90px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.config-list-button-red:hover{background-color: #fa2a2a;
  color:white;
  border-color:white}
.config-list-button-red:focus{background-color: #f14545;
  color:white;
  border-color:white}