.signup-content {
    text-align: center;
    padding: 10% 5%;
    background-color: #ffffff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.signup-content .signup-btn {
    width: 100%;
}

.signup-content .title{
    color: #ff6700;
    margin-bottom: 8%;
}

.signup-content .divider{
    margin-bottom: 5%;
}