.verify-background{
    background-color: #002C39;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}


@media screen and (max-width: 992px) {
   .verify-background{
       background-color: #ffffff;
   }
   .verify-background .verify-card{
       position: relative;
   }
}

@media screen and (min-width: 992px) {
    .verify-background .verify-card{
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
    }    
 }