.verify-background{
    background-color: #002C39;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.verify-background .verify-card{
    top: 50%;
    transform:translateY(100%);
}