.dark-background {
    background-color: #002C39;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.dark-background .ant-card-body{
   padding: 0;
}

.dark-background .logo {
    margin-top: 5%;
}

.dark-background .card-content{
    border-radius: 8px;
}

@media screen and (max-width: 992px) {
    .dark-background{
        background-color: #ffffff;
    }
    .dark-background .logo{
        display: none;
    }
    .dark-background .ant-card{
        border: none;
    }
}

@media screen and (min-width: 992px) {
    .dark-background .signup-card{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}