body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.page-content {
  padding: 32px 32px 0;
  position: absolute;
  top: 64px;
  left: 300px;
  right: 0;
}

.page-content--has-tabs {
  padding: 0;
}

.flex-blox {
  display: flex;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}

.discord {
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 8;
  padding: 0 8px;
  right: 3vw;
  position: fixed;
  bottom: 30px;
  cursor: pointer;
  color: #002c39;
}

.hint {
  color: rgba(0, 0, 0, 0.38);
}

.primary-text {
  color: rgba(0, 0, 0, 0.87);
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.ant-form .ant-collapse-item {
  border-bottom: none !important;
}

.ant-form .ant-collapse-header {
  padding-left: 24px !important;
}

.ant-form .ant-collapse-header > i {
  left: 0 !important;
}

.ant-form .ant-collapse-content-box {
  padding: 4px 0 !important;
}

.empty-state {
  border: 1px solid #E8E8E8;
  margin-top: 24px;
  padding:48px;
  text-align: center;
}

.empty-state__description {
  margin: 24px 0 0 0;
  color: rgba(0, 0, 0, 0.54);
}

.empty-state__action-text{
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 4px;
}

.empty-state__action-bar {
  margin-top: 24px;
}

.action-rounded, .action-rounded .ant-select-selection {
  border-radius: 20px;
}

.CodeMirror {
  height: 360px !important;
}