.add-endpoint-container {
  padding: 42px 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-codemirror2.add-endpoint-codemirror .CodeMirror.cm-s-default {
  height: 180px;
  border: 1px solid #D9D9D9;
  max-width: 610px;
}

.react-codemirror2.add-endpoint-codemirror > .CodeMirror-scroll .CodeMirror-sizer {
  margin-right: 0px;
}

@media only screen and (min-width: 610px) {
  .add-endpoint-container .ant-form.ant-form-vertical {
    width: 610px;
  }
}